.preview-container {
    display: flex;
    flex-direction: column;
}

.edit-container {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    gap: 0.6rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.548);
}

img {
    width: 40px;
    height: 40px;
}

button {
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: rgb(100, 108, 255);
    opacity: 0.8;
}