.preview-container {
    display: flex;
    flex-direction: column;

    margin-top: 1.2rem;
}

.preview-container>.btn-container {
    display: flex;
    gap: 0.6rem;
    align-self: flex-end;
}

.edit-container {
    display: flex;
    flex-direction: column;

    margin-top: 1.2rem;
}

.edit-container>.btn-container { 
    align-self: flex-end;
}

button {
    border-radius: 0.3rem;
    border: 1px solid transparent;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: rgb(100, 108, 255);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}