#preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    
    width: 100%;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.548);
}

#preview-btn>img, #example-btn>img, #edit-btn>img, #print-btn>img {
    width: 2rem;
    height: 2rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-base);
    border: 1px solid transparent;
    border-radius: 0.3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: rgb(100, 108, 255);
    opacity: 0.8;
}

@media screen and (max-width:600px) {
    .btn-container {
        flex-direction: column;
    }
}