footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-size: var(--fs-base);
    font-family: var(--ff-base);
    background-color: rgb(163, 177, 138);
}

footer svg {
    width: 20px;
    height: 20px;
}