#cv-preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 210mm;
    margin: auto;
    margin-top: 3rem;
    font-size: 12px;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.548);
}

/* ----- Header styles ----- */

#header {
    border-bottom: 2px solid rgb(0, 5, 78);
}

/* ----- Body Styles ----- */

#body {
    display: flex;
    gap: 2rem;
}

/* ----- Sidebar styles ----- */

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: left;
    padding: 1rem 1rem 1rem 3rem;
}

/* ----- Main container styles ----- */

#main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    text-align: left;
    padding: 1rem 3rem 1rem 1rem;
}

#personal-container, #summary-container, #education-container, #experience-container, #skill-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#education-items, #experience-items, #skill-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

/* ----- Media queries ----- */

@media screen and (max-width: 600px) {
    #cv-preview {
        max-width: 90%;
        max-height: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #cv-preview {
        max-width: 75%;
    }
}

@media screen and (min-width: 601px) {
    #cv-preview {
        height: 297mm;
        overflow-y: auto;
    }
}