@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 216);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 9, 11);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(100, 108, 255);
  opacity: 0.8;
}

button>img {
  width: 1.4rem;
  height: 1.4rem;
}

input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 216);
}

textarea {
  height: 4.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 216);
  resize: vertical;
}

@media print {
  body {
      margin: 0!important;
  }
}