:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: rgba(118, 141, 126, 0.473);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
}

body {
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}
